## COMM 187 (160DS): Data Science in Communication Research -- Fall 2024

## Coding Lab #2: Python Basics
**Wednesday, Oct 9, 2024**

Welcome to the Coding Lab #2 for COMM 187: Data Science in Communication Research! 

Last week, we learnt about what is Python, expressions in Python, names and variables, functions and call expressions.

Today's lesson plan:
 - Review of Coding Assignment #1
 - Python Basics
   - Types of variables
   - Lists
   - Functions review and Libraries
     - Playing with library `random` 
       
Today's lessons are based on the following online resources (feel free to try them out yourselves too!):
 - https://inferentialthinking.com/chapters/04/Data_Types.html
 - https://wesmckinney.com/book/python-basics

## Python Basics

### Data types

Python has a small set of built-in types for handling numerical data, strings, and Boolean (True or False) values. These "single value" types are sometimes called *scalar* types.

#### Numerical Types `int` and `float`

Python (like most other programming languages) distinguishes between two different types of numerical data:

 - Integers are called `int` values in the Python language. They can only represent integers (negative, zero, or positive) that donâ€™t have a fractional component (i.e., no decimal points).
 - Real numbers are called `float` values (or floating point values) in the Python language. They can represent whole or fractional numbers but have some limitations.

The type of a number is evident from the way it is displayed: `int` values have no decimal point and `float` values always have a decimal point.

In [ ]:
int_var = 3
float_var = 3.0

#### String Type `str`

Text in Python is called a **string** type, or `str`, which basically means that it is a string or sequence of characters.

In [ ]:
str_var = "hello!"

**Question:** What is the difference between the following two variables?

In [ ]:
var1 = "234"
var2 = 234

#### Boolean Type `bool`

Boolean values are either `True` (1) or `False` (0). The ones and zeroes of computers that everyone keeps talking about!

In [ ]:
bool_var = False

#### Type and Type Casting

The `type` function can be used to determine the data type of a given variable.

In [ ]:
type(int_var)

In [ ]:
type(float_var)

In [ ]:
type(str_var)

In [ ]:
type(bool_var)

The `str`, `bool`, `int`, and `float` types are also *functions* that can be used to *cast*, or convert values to those types.

For example, let us start with a variable s with a string value.

In [ ]:
s = "3.14159"

In [ ]:
type(s)

What happens when we type cast it as float, in order words, convert it to float?

In [ ]:
fval = float(s)

In [ ]:
type(fval)

What happens if we convert fval into integer.

In [ ]:
int(fval)

What happens if we convert fval to boolean?

In [ ]:
bool(fval)

**Question:** What kind of `int` or `float` value will convert to `False` when typecast to `bool`?

In [ ]:
### Your answer below this line

#### More operators
<a id='operators'></a>

Adding to the list of expressions and operators last week, here is a longer list of operators with details on the type of input and type of output for each. \
Make new cells below the table and try out each type of expression.

| Expression Type                       | Operator     | Input Type                    | Output Type                   | Example                                                       | Value                                    |
|:--------------------------------------|:-------------|:------------------------------|:------------------------------|:--------------------------------------------------------------|:-----------------------------------------|
| Addition                              | `+`          | `int`<br>`float`<br>`str`         | `int`<br>`float`<br>`str`         | `2 + 3`<br>`2.12 + 3.23`<br>`"hello " + "world!"`                 | `5`<br>`5.35`<br>`"hello world!"`            |
| Subtraction                           | `-`          | `int`<br>`float`                | `int`<br>`float`                | `2-3`<br>`2.12 - 3.23`                                          | `-1`<br>`-1.11`                            |
| Multiplication                        | `*`          | `int`<br>`float`                | `int`  `float`                | `2*3`<br>`2.12*3.23`                                            | `6`<br>`6.8476`                            |
| Division                              | `/`          | `int`<br>`float`                | `float`                       | `7/3`<br>`7.1/3.1`                                              | `2.333333333333335`<br>`2.290322580645161` |
| Floor division                        | `//`         | `int`<br>`float`                | `int`<br>`float`                | `7//3`<br>`7.1//3.1`                                            | `2`  `2.0`                               |
| Remainder                             | `%`          | `int`<br>`float`                | `int`<br>`float`                | `7%3`<br>`7.1%3.1`                                              | `1`  `0.8999999999999995`                |
| Exponential                           | `**`         | `int`<br>`float`                | `int`<br>`float`                | `2**3`<br>`2.1**3.1`                                            | `8`  `9.97423999265871`                  |
| And                                   | `&` or `and` | `bool`                        | `bool`                        | `True & False`<br>`True and False`                              | `False`                                  |
| Or                                    | `\|` or `or` | `bool`                        | `bool`                        | `True \| False`<br>`True or False`                              | `True`                                   |
| Exclusive Or                          | `^`          | `bool`                        | `bool`                        | `True ^ False`<br>`True ^ True`                                 | `True`<br>`False`                          |
| Equals                                | `==`         | `int`<br>`float`<br>`str`<br>`bool` | `int`<br>`float`<br>`str`<br>`bool` | `2 == 3`<br>`2.1 == 2.1`<br>`"hello" == "hello"`<br>`True == False` | `False`<br>`True`<br>`True`<br>`False`         |
| Not equals                            | `!=`         | `int`<br>`float`<br>`str`<br>`bool` | `int`<br>`float`<br>`str`<br>`bool` | `2 != 3`<br>`2.1 != 2.1`<br>`"hello" != "hello"`<br>`True != False` | `True`<br>`False`<br>`False`<br>`True`         |
| Less than/<br>Less than or equal to       | `<` or `<=`  | `int`<br>`float`                | `int`<br>`float`                | `2 < 3`<br>`3 < 3`<br>`3 <= 3`<br>`7.1 <= 3.1`                      | `True`<br>`False`<br>`True`<br>`False`         |
| Greater than/<br>Greater than or equal to  | `>` or `>=`  | `int`<br>`float`                | `int`<br>`float`                | `2 < 3`<br>`3 > 3`<br>`3 >= 3`<br>`7.1 >= 3.1`                      | `True`<br>`False`<br>`True`<br>`True`         |

In [ ]:
### Your code below this line

### Sequences and Lists

Let us say that you wanted to store more than one value in one variable. How can you do that?

We can make a **list** using the following expression: `[value1, value2, value3, ...]` \
where `value1`, `value2`, and so on are values that you want to store in a sequence in the list.

Let us look at some examples.

In [ ]:
a = [1,2,3,4,5]
a

In [ ]:
b = [-1, -1, -1, -1, -1]
b

**Question:** Can you make a list with varying data types? Try it out!

In [ ]:
## Your code below this line

**Question:** What happens when you add (`+`) the two lists?

In [ ]:
## Your code below this line

#### Indexing lists

How do you find an element that is in the list? Elements in the list are present in a sequence, and are **indexed** based on that sequence. 

For instance, let us take the following list:

In [ ]:
testlist = [23, 43, 9, 0, 89, 76, 1, 5]

Here, we have a sequence of eight integer numbers stored in variable `testlist`. Each number from `23` till `5` has a position in this sequence. The position starts from `0`, `1`, ... and goes until `n-1`, where `n` is the length of the list, which in this case is `8-1 = 7`, as shown below. These positions are called **index**, or indices (plural).

<img src="./images/Lab2ListIndexing.png" alt="Tab Options" width="600"/>

If you want to retrieve any one of these values, you can use the following syntax: `<list name>[<index>]`

In this case, `<list name>` is `testlist`. In the figure above, the numbers below the list, in red, are the *indices*.

In the following cell, retrieve the value 4th position from the beginning in this list:

In [ ]:
# Your code below this line

#### Range

You can also make a **range**, or an ordered sequence of subsequent integers using lists. 

The syntax for making a range is: `range(<start>, <stop>, <step>)`

 - *start* is the *starting integer* for the range.
 - *stop* is the *ending integer + 1* for the range; \
   NOTE that the *stop* needs to be one more than the integer you would like to stop at.
 - *step* is the difference, or *step increment* between every consecutive integer. The default value is `1`.

For instance, if you want to make a sequence of 1,2,3,4,5, ..., 20, you can simply write:

In [ ]:
range(1, 21)

Notice that the `<step>` value was not specified, so the default value of `1` was used for `<step>`.

What does the output look like? Does it look like a list? If not, that is because range is a data type, just like `int`, `float`, `str`, `list` etc. 

To convert it to a list, typecast it to a list:

In [ ]:
list(range(1, 21))

**Question:** Make a list of all the integers starting from 35 and ending in 72.

In [ ]:
### Your code below this line

**Question:** Make a list of integers starting from -56 and ending in 85, with step increments of 3.

In [ ]:
### Your code below this line

### Functions and Libraries

Last week we discussed complex operations in Python which are called **functions** which are invoked by **call expressions**. \
For instance, in `print("Hello World!")`, the word `print` is the *call expression* for the function `print()` \
As illustrated in the Hello World example, the name of the function appears first, followed by expressions inside parentheses `()`.

A collection of functions is called a **library**. 

Think of library as a toolbox, and functions as tools. Different toolboxes are meant for different types of jobs, and contains tools specific to those jobs. Similarly, different libraries are designed for different types of tasks (like mathematical computing, image computing, scientific operations, etc.) and contains functions functions which are specific to those tasks.

How do you use a library in your Python code?

We first **import** a library into our code using the `import` command. \
Then, we use functions inside the library using the following syntax: `<library name>.<function name>()`. 

Let us try it out with the example of a library named `random`.

#### Random

In [ ]:
import random

After importing `random`, now in the cell below, write `random` and press "Tab" key on your keyboard.

In [ ]:
### Your code below this line

It should look something like this:

<img src="./images/Lab2TabOptionsRandom.png" alt="Tab Options" width="300"/>

Scroll through these items, you will notice that a lot of these are labeled `f` on the right and `function` on the left. These are functions included in the `random` library. You can use these functions after importing `random`.

Let's practice some functions from this library!

**random.random()** produces a random decimal number in the range between 0 and 1.

In [ ]:
random.random()

Run the previous cell multiple times. Do you get the same answer each time?

**random.randint(a, b)** produces a random integer in the range between `a` and `b`. \
For instance, we will use the following line of code to generate a random integer between 0 and 10.

In [ ]:
random.randint(0,10)

Run the previous cell multiple times. What do you notice?

**random.shuffle(listname)** shuffles the order of values in list `listname` . \
For instance, let us use `testlist` from before to test this out.

In [ ]:
testlist

In [ ]:
random.shuffle(testlist)
testlist

**random.sample(range(a, b), c)** creates a list of length `c` which contains randomly selected integer values from the range between `a` and `b`

For instance, if we wanted to create a list of 5 random integers in the range 0 to 20, we would use the following code:

In [ ]:
random.sample(range(0, 20), 5)

## Practice

**Question 1.** Create a random decimal number in the range 0 to 100.

*Tip:* If `random.random()` gives you a random decimal between 0 and 1, how do you convert that to a random decimal number in the range 0 to 100? Think!

In [ ]:
### Your code below this line
random.random()*100

**Question 2.** Create a list `quiz_scores` which contains random quiz scores for 12 students. Each quiz is out of 100 points, and scores are assigned only in integers. 

*Tip:* Use `random.sample`!

In [ ]:
### Your code below this line
quiz_scores = random.sample(range(0,100), 12)

**Question 3.** Now shuffle the values in `quiz_score`.

*Tip:* Use `random.shuffle`!

In [ ]:
### Your code below this line
random.shuffle(quiz_scores)
quiz_scores