## COMM 187 (160DS): Data Science in Communication Research -- Spring 2024

## Coding Lab #2: Python Basics
**Wednesday, April 10, 2024**

Welcome to the Coding Lab #2 for COMM 187 (160DS): Data Science in Communication Research! 

Last week, we learnt about what is Python, expressions in Python, names and variables, functions and call expressions.

Today's lesson plan:
 - Review of Coding Assignment #1
 - Python Basics
   - Types of variables
   - Lists
   - Functions review and Libraries
   - Numpy arrays

Today's lessons are based on the following online resources (feel free to try them out yourselves too!):
 - https://inferentialthinking.com/chapters/04/Data_Types.html
 - https://wesmckinney.com/book/python-basics

### Common mistake from Homework #1

In [ ]:
some_variable = 19034.576

What is the difference between A and B?

**A**

In [ ]:
round(some_variable)

**B**

In [ ]:
some_variable = round(some_variable)

## Python Basics

### Data types

Python has a small set of built-in types for handling numerical data, strings, and Boolean (True or False) values. These "single value" types are sometimes called *scalar* types.

#### Numerical Types `int` and `float`

Python (like most other programming languages) distinguishes between two different types of numerical data:

 - Integers are called `int` values in the Python language. They can only represent integers (negative, zero, or positive) that donâ€™t have a fractional component (i.e., no decimal points).
 - Real numbers are called `float` values (or floating point values) in the Python language. They can represent whole or fractional numbers but have some limitations.

The type of a number is evident from the way it is displayed: `int` values have no decimal point and `float` values always have a decimal point.

In [ ]:
int_var = 3
float_var = 3.0

#### String Type `str`

Text in Python is called a **string** type, or `str`, which basically means that it is a string or sequence of characters.

In [ ]:
str_var = "hello!"

**Question:** What is the difference between the following two variables?

In [ ]:
var1 = "234"
var2 = 234

#### Boolean Type `bool`

Boolean values are either `True` (1) or `False` (0). The ones and zeroes of computers that everyone keeps talking about!

In [ ]:
bool_var = False

#### Type and Type Casting

The `type` function can be used to determine the data type of a given variable.

In [ ]:
type(int_var)

In [ ]:
type(float_var)

In [ ]:
type(str_var)

In [ ]:
type(bool_var)

The `str`, `bool`, `int`, and `float` types are also *functions* that can be used to *cast*, or convert values to those types.

For example, let us start with a variable s with a string value.

In [ ]:
s = "3.14159"

In [ ]:
type(s)

What happens when we type cast it as float, in order words, convert it to float?

In [ ]:
fval = float(s)

In [ ]:
type(fval)

What happens if we convert fval into integer.

In [ ]:
int(fval)

What happens if we convert fval to boolean?

In [ ]:
bool(fval)

**Question:** What kind of `int` or `float` value will convert to `False` when typecast to `bool`?

In [ ]:
### Your answer below this line

#### More operators
<a id='operators'></a>

Adding to the list of expressions and operators last week, here is a longer list of operators with details on the type of input and type of output for each. \
Make new cells below the table and try out each type of expression.

| Expression Type                       | Operator     | Input Type                    | Output Type                   | Example                                                       | Value                                    |
|:--------------------------------------|:-------------|:------------------------------|:------------------------------|:--------------------------------------------------------------|:-----------------------------------------|
| Addition                              | `+`          | `int`<br>`float`<br>`str`         | `int`<br>`float`<br>`str`         | `2 + 3`<br>`2.12 + 3.23`<br>`"hello " + "world!"`                 | `5`<br>`5.35`<br>`"hello world!"`            |
| Subtraction                           | `-`          | `int`<br>`float`                | `int`<br>`float`                | `2-3`<br>`2.12 - 3.23`                                          | `-1`<br>`-1.11`                            |
| Multiplication                        | `*`          | `int`<br>`float`                | `int`  `float`                | `2*3`<br>`2.12*3.23`                                            | `6`<br>`6.8476`                            |
| Division                              | `/`          | `int`<br>`float`                | `float`                       | `7/3`<br>`7.1/3.1`                                              | `2.333333333333335`<br>`2.290322580645161` |
| Floor division                        | `//`         | `int`<br>`float`                | `int`<br>`float`                | `7//3`<br>`7.1//3.1`                                            | `2`  `2.0`                               |
| Remainder                             | `%`          | `int`<br>`float`                | `int`<br>`float`                | `7%3`<br>`7.1%3.1`                                              | `1`  `0.8999999999999995`                |
| Exponential                           | `**`         | `int`<br>`float`                | `int`<br>`float`                | `2**3`<br>`2.1**3.1`                                            | `8`  `9.97423999265871`                  |
| And                                   | `&` or `and` | `bool`                        | `bool`                        | `True & False`<br>`True and False`                              | `False`                                  |
| Or                                    | `\|` or `or` | `bool`                        | `bool`                        | `True \| False`<br>`True or False`                              | `True`                                   |
| Exclusive Or                          | `^`          | `bool`                        | `bool`                        | `True ^ False`<br>`True ^ True`                                 | `True`<br>`False`                          |
| Equals                                | `==`         | `int`<br>`float`<br>`str`<br>`bool` | `int`<br>`float`<br>`str`<br>`bool` | `2 == 3`<br>`2.1 == 2.1`<br>`"hello" == "hello"`<br>`True == False` | `False`<br>`True`<br>`True`<br>`False`         |
| Not equals                            | `!=`         | `int`<br>`float`<br>`str`<br>`bool` | `int`<br>`float`<br>`str`<br>`bool` | `2 != 3`<br>`2.1 != 2.1`<br>`"hello" != "hello"`<br>`True != False` | `True`<br>`False`<br>`False`<br>`True`         |
| Less than/<br>Less than or equal to       | `<` or `<=`  | `int`<br>`float`                | `int`<br>`float`                | `2 < 3`<br>`3 < 3`<br>`3 <= 3`<br>`7.1 <= 3.1`                      | `True`<br>`False`<br>`True`<br>`False`         |
| Greater than/<br>Greater than or equal to  | `>` or `>=`  | `int`<br>`float`                | `int`<br>`float`                | `2 < 3`<br>`3 > 3`<br>`3 >= 3`<br>`7.1 >= 3.1`                      | `True`<br>`False`<br>`True`<br>`True`         |

In [ ]:
### Your code below this line

### Sequences and Lists

Let us say that you wanted to store more than one value in one variable. How can you do that?

We can make a **list** using the following expression: `[value1, value2, value3, ...]` \
where `value1`, `value2`, and so on are values that you want to store in a sequence in the list.

Let us look at some examples.

In [ ]:
a = [1,2,3,4,5]
a

In [ ]:
b = [-1, -1, -1, -1, -1]
b

**Question:** Can you make a list with varying data types? Try it out!

In [ ]:
## Your code below this line

**Question:** What happens when you add (`+`) the two lists?

In [ ]:
## Your code below this line

#### Indexing lists

How do you find an element that is in the list? Elements in the list are present in a sequence, and are **indexed** based on that sequence. 

For instance, let us take the following list:

In [ ]:
testlist = [23, 43, 9, 0, 89, 76, 1, 5]

Here, we have a sequence of eight integer numbers stored in variable `testlist`. Each number from `23` till `5` has a position in this sequence. The position starts from `0`, `1`, ... and goes until `n-1`, where `n` is the length of the list, which in this case is `8-1 = 7`, as shown below. These positions are called **index**, or indices (plural).

<img src="./images/Lab2ListIndexing.png" alt="Tab Options" width="600"/>

If you want to retrieve any one of these values, you can use the following syntax: `<list name>[<index>]`

In this case, `<list name>` is `testlist`. In the figure above, the numbers below the list, in red, are the *indices*.

In the following cell, retrieve the value 4th position from the beginning in this list:

In [ ]:
# Your code below this line

### Functions and Libraries

Last week we discussed complex operations in Python which are called **functions** which are invoked by **call expressions**. \
For instance, in `print("Hello World!")`, the word `print` is the *call expression* for the function `print()` \
As illustrated in the Hello World example, the name of the function appears first, followed by expressions inside parentheses `()`.

A collection of functions is called a **library**. 

Think of library as a toolbox, and functions as tools. Different toolboxes are meant for different types of jobs, and contains tools specific to those jobs. Similarly, different libraries are designed for different types of tasks (like mathematical computing, image computing, scientific operations, etc.) and contains functions functions which are specific to those tasks.

How do you use a library in your Python code?

We first **import** a library into our code using the `import` command. \
Then, we use functions inside the library using the following syntax: `<library name>.<function name>()`. 

Let us try it out with the example of *numpy* library, which is used for complex numerical computations.

#### Numpy

In [ ]:
import numpy

After importing numpy, now in the cell below, write `numpy` and press "Tab" key on your keyboard.

In [ ]:
### Your code below this line

It should look something like this:

<img src="./images/Lab2TabOptionsNumpy.png" alt="Tab Options" width="300"/>

Scroll through these items, you will notice that a lot of these are labeled `f` on the right and `function` on the left. These are functions included in the `numpy` library. You can use these functions after importing numpy.

#### Numpy Arrays

We just learnt about lists, which are sequences of several values and can be stored in one variable, and can be indexed based on their position in the sequence.

An **array** is a vector containing values typically belonging to the *same data type*. In the hardware, these values are allocated with contiguous memory locations, and thus indexing is faster than in lists. 

One key difference between lists and arrays is that typically the size of an array is fixed, whereas it is not fixed in lists. Thus, with arrays, insertion and deletion costs are high as compared to the list.

Numpy has a function called **array** and a data type called **ndarray**. The function *array* converts lists to an array of type *ndarray*. These arrays are built specifically for numerical computations.

***Note:*** To call the **array** function, you will have to use the following syntax: `numpy.array(<input list goes here>)`

Let is try out an example:

In [ ]:
list1 = [1,2,3,4]
list2 = [10,20,30,40]

In [ ]:
numpy_list1 = numpy.array(list1)
numpy_list2 = numpy.array(list2)

Now, we have two versions of the same pair of lists: we have `list1` and `list2`, and we have `numpy_list1` and `numpy_list2`. Print them out below to see any differences in how they appear.

In [ ]:
### Your code below this line

Now compute an addition (`+`) operation on the two lists, and then the two arrays. See what you get.

In [ ]:
### Your code below this line

What were the differences? Now, try out the other operations discussed earlier in the lab, discussed [here](#operators).

In [ ]:
### Your code below this line

What were the differences? Were you able to use all the operators with lists? What about with numpy arrays? In numpy arrays, are the operators operating item by item?

Now, consider a third numpy array (run the next cell):

In [ ]:
numpy_list3 = numpy.array(list1 + list2)
numpy_list3

Now, try using the same operations but this time, between `numpy_list3` and either `numpy_list1` or `numpy_list2`

In [ ]:
### Your code below this line

What did you observe? What was the output? Why did you get that output?

#### Functions in `numpy` to create arrays

Take a look at the following short list of standard array creation functions in `numpy`. 

Try out each of these functions for yourself. Make use of the Numpy documentation [here](https://numpy.org/doc/stable/reference/generated/numpy.array.html) to understand these functions better.

| Function              | Description                                                                                                                                                                            |
|:-----------------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `array`               | Convert input data (list, or  other sequence type) to an `ndarray` either by inferring a data type or  explicitly specifying a data type; copies the input data by default |
| `asarray`             | Convert input to `ndarray`, but do not copy if the input is already an `ndarray`                                                                                                           |
| `arange`              | Like the built-in range but returns an `ndarray` instead of a list                                                                                                                       |
| `ones`, `ones_like`   | Produce an array of all 1s with the given shape and data type; `ones_like` takes another array and produces a ones array of the same shape and data type                                 |
| `zeros`, `zeros_like` | Like ones and `ones_like` but producing arrays of 0s instead                                                                                                                             |
| `empty`, `empty_like` | Create new arrays by allocating new memory, but do not populate with any values like ones and zeros                                                                                    |

What is feeling difficult about using these functions? What is feeling easy? Discuss on Canvas, among your classmates, and bring your questions to office hours.

## Practice

**Question 1a.** Make two new lists, `quiz1` and `quiz2`.
Assume that these lists have values of scores of 10 students in each of them. Each quiz is out of 100 points, so randomly assign points to each students for quiz1 and quiz2. 

For instance, the quiz1 could look like:
`quiz1 = [45,67,90,99,100,34,89,70,25,0,100]`

In [ ]:
### Your code below this line

**Question 1b.** Now, convert these lists to numpy arrays. Make new variable names for them!

In [ ]:
### Your code below this line

**Question 1c:** Using these two numpy arrays, make a third new numpy array which has the total sum of quiz scores for each student. \
*Tip:* you can simply add the two numpy arrays and store it in a new numpy array!

In [ ]:
### Your code below this line

**Question 1d:** Calculate the total percentage score for each student. Remember, each score is out of 100.

In [ ]:
### Your code below this line